.menu-wrapper {
  width: 162px;
  height: 839px;
  overflow-y: scroll;

  /* 아래의 모든 코드는 영역::코드로 사용 */
  /* width */
  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px var(--primary-400);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primary-400);
    border-radius: 9px;
  }
}

.sidebar {
  width: 162px;
  height: 500px;
  // overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;

  .menu {
    padding: 2px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    height: 56.2667px;

    color: var(--secondary-100);

    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: var(--white);
    }

    &.active {
      color: var(--white);
    }
  }
}
