@use "./_reset.scss";
@use "./_fonts.scss";
@use "./_variables.scss";
@use "./_media-query.scss";

/*
* global Styles
*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--secondary-400);
  min-height: 100vh;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  @include tablet {
    position: relative;
  }
}
