@import "@/styles/_media-query.scss";

.mobile-only {
  display: none;
  @include tablet {
    display: inline-block;
  }
}

.desktop-only {
  display: inline-block;
  @include tablet {
    display: none;
  }
}

.section {
  overflow: hidden;
  color: var(--secondary-400);
  min-height: 1080px;
  position: relative;
  background-image: url("@/images/about/background-main.svg");
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet {
    min-height: 640px;
    background-image: url("@/images/about/m-background-main.png");
    background-position: center;
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    position: absolute;
    top: 94px;
    left: 24px;

    z-index: 1;
    color: var(--secondary-400);
  }
}

.location {
  z-index: 2;
  position: absolute;
  right: 117px;
  bottom: 73px;

  display: flex;

  .big-svg {
    display: flex;
    > svg {
      margin-right: 42px;
      transform: translateY(-4px);
    }

    > div {
      display: flex;
      flex-direction: column;

      > svg {
        &:first-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }

  @include tablet {
    bottom: 52px;
    right: 24px;

    flex-direction: column;

    > p {
      padding-top: 2px;

      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
