@import "@/styles/_media-query.scss";

.wrapper {
  position: relative;

  > p {
    color: var(--secondary-100);
  }
  .credit {
    position: relative;
    z-index: 2;
    margin: auto 210px;
    color: var(--white);

    > p {
      color: var(--secondary-100);
    }

    > h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 65px;

      padding-bottom: 72px;
    }

    @include tablet {
      margin: 0;
      padding: 24px 24px 100px 24px;

      > h1 {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;

        padding-bottom: 36px;
      }
    }
    .pic-row {
      padding-bottom: 114px;

      display: flex;

      > span {
        flex-shrink: 0;
        //졸업 준비 위원회...
        width: 194px;
        font-weight: 700;
        font-size: 30px;
        line-height: 52px;

        margin-right: 109px;
      }

      @include tablet {
        padding-bottom: 30px;
        padding-right: 50px;

        > span {
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;

          margin-right: 24px;
          width: 91px;
        }
      }

      .members-wrapper {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        font-weight: 400;
        font-size: 24px;
        line-height: 42px;

        .memberRow {
          display: flex;
          &:not(:last-child) {
            padding-bottom: 18px;
          }

          @include tablet {
            flex-direction: column;

            &:not(:last-child) {
              padding-bottom: 0px;
            }
          }

          .one-member {
            display: flex;
            > span {
              display: inline-block;

              margin-right: 37px;
            }

            > div {
              margin-right: 117px;
              > span {
                &:not(:last-child) {
                  margin-right: 56px;
                }
              }
            }
            @include tablet {
              font-weight: 600;
              font-size: 12px;
              line-height: 20px;

              > span {
                width: 70px;
                // margin-right: 12px;
              }
              > div {
                > span {
                  font-weight: 500;
                  width: 70px;
                  // margin-right: 12px;
                }

                display: flex;
                flex-direction: column;
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
