.section {
  padding-left: 106px;
}

.author {
  padding-bottom: 76px;

  > h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 90px;
  }

  > p {
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
  }
}

.projects-style {
  display: flex;
  justify-content: end;
  gap: 17px;

  > div {
    display: flex;
    flex-direction: column;

    > span {
      //category
      padding-bottom: 10px;

      font-weight: 700;
      font-size: 30px;
      line-height: 52px;
    }

    > div {
      width: 518px;
    }
  }
}
