@import "@/styles/_media-query.scss";

.section {
  min-width: var(--global-max-width);
  padding-left: 106px;

  @include tablet {
    min-width: auto;
    padding: 0;
  }
}

.author {
  > div {
    padding-bottom: 76px;

    > h1 {
      font-weight: 700;
      font-size: 55px;
      line-height: 90px;
    }

    > p {
      font-weight: 400;
      font-size: 30px;
      line-height: 52px;

      > svg {
        margin-right: 15px;
        filter: invert(1);
        transform: translateY(2.5px);
      }
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 433px;
    padding: 24px;
    padding-bottom: 42px;

    > span {
      //SWUVD 40TH  EXHIBITION
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
    }

    > div {
      padding-bottom: 0;
      > h1 {
        font-weight: 700;
        font-size: 35px;
        line-height: 48px;

        &:last-of-type {
          padding-bottom: 16px;
        }
      }

      > p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        > svg {
          filter: invert(0.7);

          width: 16px;
          height: 16px;

          margin-right: 7px;
          transform: translateY(3.5px);
        }

        color: #a0a0a0;
      }
    }
  }
}

.projects-style {
  display: flex;
  justify-content: end;
  gap: 17px;

  @include tablet {
    gap: 57px;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    // position: absolute;
    // top: 540px;
    // min-height: 1000px;
    // left: 0;
    // right: 0;
    // bottom: 0;
    background: var(--white);
    padding: 24px 24px 148px 24px;
    color: var(--secondary-400);
  }

  > div {
    display: flex;
    flex-direction: column;

    > span {
      //category
      padding-bottom: 10px;

      font-weight: 700;
      font-size: 30px;
      line-height: 52px;
    }

    > div {
      width: 518px;
    }

    @include tablet {
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
      }
      > div {
        width: 100%;
      }
    }
  }
}
