.main {
  max-width: var(--global-max-width);
  margin: 304px auto 142px auto;
  color: var(--white);
  position: relative;
  padding-left: 160px;
}

.author {
  > h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 90px;
  }

  > p {
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
  }
}

.projects-style {
  display: flex;
  justify-content: end;
  gap: 17px;

  > div {
    display: flex;
    flex-direction: column;

    > span {
      //category
      padding-bottom: 10px;

      font-weight: 700;
      font-size: 30px;
      line-height: 52px;
    }

    > div {
      width: 518px;
    }
  }
}
