@import "@/styles/_media-query.scss";

.nav {
  display: none;

  @include tablet {
    &.is-open {
      z-index: calc(var(--nav-z-index) + 1);
    }
    z-index: var(--nav-z-index);

    position: fixed;

    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 100px;

    padding: 25px;

    left: 0px;
    right: 0;
    top: 0px;

    transition: all 0.15s ease-in-out;

    .text {
      position: absolute;
      left: 100px;
      color: var(--white);
      /* mobile sub headline */
      font-size: 20px;
      font-weight: 700;
      line-height: 40px;

      display: flex;
      align-items: center;

      > span {
        display: inline-block;
        width: 2px;
        height: 18px;
        background-color: var(--white);
        margin: 0 10px;
        transform: translateY(1px);
      }
    }
    svg {
      tarnsition: filter 0.15s ease-in-out;
    }
    &.dark {
      background: #000000;
      svg {
        filter: invert(100%);
      }
    }

    &.light {
      background-color: rgba(0, 0, 0, 0);
    }

    .hamburger {
      cursor: pointer;
    }
  }
}

.options {
  display: none;

  @include tablet {
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;

    z-index: calc(var(--nav-z-index) + 1);
    position: fixed;

    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;

    background: #000000;

    // &::after {
    //   z-index: calc(var(--nav-z-index) + 2);
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   height: 86px;

    //   background: radial-gradient(
    //     170.93% 170.93% at 50% 9.88%,
    //     rgba(245, 245, 245, 0.16) 0%,
    //     rgba(255, 255, 255, 0.13) 0.01%,
    //     rgba(255, 255, 255, 0) 100%
    //   );
    // }

    > p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 12px;

      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      /* or 167% */

      text-align: center;
      letter-spacing: -0.01em;

      /* B3 */

      color: #636363;
    }

    > ul {
      transform: translateY(
        -50px
      ); // gnb 기준으로 맞추기 위해 gnb의 반만큼 이동.
      width: 100%;
      margin: 0 17px;

      border-top: 0.5px solid #d7d7d7;
      .menu {
        font-weight: 700;
        font-size: 20px;
        line-height: 40px;
        /* identical to box height, or 200% */

        text-align: center;

        color: var(--white);
        padding: 15px;

        transition: all 0.15s ease-in-out;

        // &.active,
        // &:hover {
        //   color: var(--primary-400);
        // }

        border-bottom: 0.5px solid #d7d7d7;
      }
    }
  }
}
