@import "@/styles/_media-query.scss";

@mixin section-styles {
  margin: auto 210px;
  padding: 120px 0;

  @include tablet {
    margin: 0;
    padding: 70px 74px 70px 24px;
    overflow: hidden;
  }
}

.desktop-only {
  display: block;
  @include tablet {
    display: none;
  }
}
.section {
  overflow: hidden;
  position: relative;
  min-height: 1080px;
  color: var(--secondary-100);

  &::after {
    content: "";
    background-color: var(--primary-400);
    width: 43px;
    height: 43px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    right: 15%;
    top: 30%;
    opacity: 0.2;
  }

  > div {
    position: absolute;
  }

  @include tablet {
    min-height: auto;

    &::after {
      display: none;
    }

    > div {
      display: none;
    }
  }

  > article {
    @include section-styles;
    position: relative;
    z-index: 2;

    > svg {
      padding-bottom: 80px;
      box-sizing: content-box;

      @include tablet {
        width: 203px;
        height: 34px;
        padding-bottom: 37px;
      }
    }
  }
}
