@import "@/styles/_media-query.scss";

.section {
  padding-bottom: 120px;
  color: var(--secondary-100);
  position: relative;

  > div {
    min-height: 948px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 210px;
  }

  @include tablet {
    padding: 56px 24px;
    > div {
      min-height: auto;
      flex-direction: column-reverse;
      margin: 0;
    }
  }
}

.text {
  width: 730px;
  word-break: break-all;
  flex-shrink: 0;

  @include tablet {
    padding-top: 57px;
    width: auto;
  }
}

.image {
  width: 100%;
  padding-left: 100px;

  @include tablet {
    padding-left: 0;
  }
}
