@import "@/styles/_media-query.scss";

.section {
  padding: 120px 0;
  color: var(--secondary-100);
  position: relative;

  > div {
    min-height: 948px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: auto 210px;
  }

  @include tablet {
    padding: 56px 0 0 0;
    > div {
      gap: 0px;

      min-height: auto;
      flex-direction: column-reverse;
      margin: 0;
    }
  }
}

.text {
  position: relative;
  width: 730px;
  word-break: break-all;
  flex-shrink: 0;

  @include tablet {
    padding: 57px 74px calc(106px - 32px) 24px;
    width: auto;
  }
}

.image {
  width: 100%;

  @include tablet {
    padding: 0 24px;
  }
}
