@import "@/styles/_media-query.scss";

.section {
  padding-top: 103px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  @include tablet {
    padding-top: 63px;
  }
}

.img {
  margin: 0 68px;
  max-width: var(--global-max-width);
  width: 100%;
  position: relative;

  > p {
    display: none;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;

    color: var(--secondary-200);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
  }

  @include tablet {
    width: 100%;
    overflow: hidden;
    margin: 0 24px;

    > p {
      display: block;
    }
  }
}
