@import "@/styles/_media-query.scss";

.section {
  overflow: hidden;
  color: var(--secondary-400);
  height: 100vh;
  position: relative;
  background-image: url("@/images/about/background-main.svg");

  @include tablet {
    height: 640px;
    background-image: url("@/images/about/m-background-main.png");
    background-position: center;
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    position: absolute;
    top: 94px;
    left: 24px;

    z-index: 1;
    color: var(--secondary-400);
  }
}

// .left-text,
// .right-text {
//   z-index: 2;
//   position: absolute;
//   top: 50%;

//   font-weight: 700;
//   font-size: 30px;
//   line-height: 52px;
// }

.location {
  z-index: 2;
  position: absolute;
  right: 117px;
  bottom: 73px;

  display: flex;

  > svg {
    margin-right: 36px;
  }

  @include tablet {
    bottom: 52px;
    right: 24px;

    flex-direction: column;

    > svg {
      margin-right: 0;

      &:first-child {
        display: none;
      }

      &.location-svg {
        width: 140px;
        height: 41px;
      }
    }

    > p {
      padding-top: 2px;

      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
