.section {
  overflow: hidden;
  position: relative;
}

.left-text,
.right-text {
  z-index: 2;
  color: var(--secondary-400);
  position: absolute;
  top: 50%;

  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
}

.left-text {
  transform: rotate(270deg);
  left: 96px;
}
.right-text {
  transform: rotate(90deg);
  right: 96px;
}

.location {
  z-index: 2;
  position: absolute;
  right: 117px;
  bottom: 73px;

  display: flex;
  > svg {
    margin-right: 36px;
  }
}
