@import "@/styles/_media-query.scss";

.info {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 48px;
  line-height: 90px;

  color: var(--white);

  padding: 15px 0;
  margin: auto 210px;

  .info-content {
    width: 431px;
  }

  @include tablet {
    height: auto;
    padding: 2px 24px;
    margin: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 40px;

    .info-content {
      width: auto;
    }
  }
}

.border {
  border-bottom: 2px solid #404040;
}
