@mixin css-variables {
  --nav-margin: auto 96px;
  --nav-padding: 74px 96px;
}

.nav {
  @include css-variables;

  padding: var(--nav-padding);
  margin: var(--nav-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--white);

  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.menu {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  color: var(--secondary-400);

  &.active {
    color: var(--white);
  }
}

.border {
  display: inline-block;
  height: 27px;

  border-right: 3px solid var(--secondary-400);
}
