@import "@/styles/_media-query.scss";

@mixin rectangle {
  z-index: 2;
  content: "";
  position: absolute;
  border: 1px solid var(--primary-100);
}

.card {
  @mixin circle {
    z-index: 2;
    content: "";
    position: absolute;

    width: 18px;
    height: 21px;

    background-color: var(--primary-100);

    border-radius: 50%;

    @include tablet {
      width: 8px;
      height: 8px;
    }
  }

  cursor: pointer;
  position: relative;

  .image-info {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    overflow: hidden;
    color: var(--secondary-400);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.15s ease-in-out;

    &.click-image {
      opacity: 1;

      &::after {
        animation: circle-keyframe 0.5s forwards;
      }
    }
    &::before {
      @include circle;
      bottom: 48px;
      left: 80%;
      z-index: 2;

      @include tablet {
        bottom: 22px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-radius: 100%;
      transform: translate(-50%, -50%);

      @keyframes circle-keyframe {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
          width: 200%;
          height: 200%;
        }
      }
      background: rgba(249, 190, 71, 0.8);
    }

    &:hover::after {
      animation: circle-keyframe 0.5s forwards;
    }
    .rectangle {
      &::before {
        @include rectangle;
        top: 32px;
        left: 32px;
        right: 32px;
        bottom: 32px;

        @include tablet {
          top: 16px;
          left: 16px;
          right: 16px;
          bottom: 16px;
        }
      }

      &::after {
        @include rectangle;
        top: 83px;
        left: 86px;
        right: 80px;
        bottom: 86px;

        @include tablet {
          top: 35px;
          left: 35px;
          right: 35px;
          bottom: 35px;
        }
      }
    }

    .circle {
      &::before {
        @include circle;
        top: 48px;
        left: 60%;

        @include tablet {
          top: 22px;
        }
      }
      &::after {
        @include circle;
        top: 50%;
        left: 52px;
        transform: translateY(-50%);

        @include tablet {
          left: 22px;
        }
      }
    }

    .text {
      z-index: 2;
      text-align: center;

      > p {
        &:first-of-type {
          font-weight: 700;
          font-size: 40px;
          line-height: 54px;
        }
        &:last-of-type {
          font-weight: 400;
          font-size: 24px;
          line-height: 42px;
        }

        @include tablet {
          &:first-of-type {
            font-weight: 700;
            font-size: 17px;
            line-height: 23px;
          }
          &:last-of-type {
            font-weight: 400;
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }

  &:hover {
    .image-info {
      opacity: 1;
    }
  }
}
