@import "@/styles/_media-query.scss";

.designer-wrapper {
  color: var(--white);

  //padding-left: 227px;
  .designer-main {
    margin: auto;
    width: 100%;
    padding: 4px 100px 72px 100px;
    min-width: var(--global-max-width);
    display: flex;

    @include tablet {
      min-width: auto;
      padding: 0;
    }
  }

  @include tablet {
    margin: 0;
    padding: 103px 0 0 0;
  }
}

.main {
  min-width: var(--global-max-width);
  overflow: hidden;
  @include tablet {
    min-width: auto;
  }
}

.footer {
  width: 100%;

  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  text-align: center;
  letter-spacing: -0.01em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* B3 */

  color: #636363;
  padding: 12px 0;

  &.light {
    background-color: var(--white);
  }
}

// .footer {
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 20px;
//   /* or 167% */

//   text-align: center;
//   letter-spacing: -0.01em;

//   /* B3 */

//   color: #636363;
//   position: absolute;
//   bottom: 12px;
//   left: 50%;
//   transform: translateX(-50%);
//   // padding: 12px 0;
// }
