@import "@/styles/_media-query.scss";

.left,
.right {
  position: absolute;
  z-index: 2;

  font-weight: 700;
  font-size: 30px;
  line-height: 52px;

  @media (min-width: 991px) and (max-width: 1720px) {
    display: none;
  }

  &.center {
    top: 50%;
  }

  &.top {
    top: 80px;
  }

  &.desktop-only {
    display: inline-block;
    @media (max-width: 1720px) {
      display: none;
    }
  }

  &.mobile-only {
    display: none;
    @include tablet {
      display: inline-block;
    }
  }

  @include tablet {
    font-size: 12px;

    font-weight: 600;
    line-height: 20px;
  }
}

.left {
  writing-mode: vertical-rl;
  left: 96px;

  &.center {
    transform: rotate(180deg) translateY(50%);
  }

  &.top {
    transform: rotate(180deg);
  }

  @include tablet {
    left: 24px;
  }
}

.right {
  writing-mode: vertical-rl;
  right: 96px;

  &.center {
    transform: translateY(-50%);
  }

  @include tablet {
    right: 24px;
  }
}
